* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(238, 174, 202);
  background: linear-gradient(160deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.quiz-container {
  background-color: rgb(226, 241, 255);
  width: 600px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(73, 138, 155, 0.2);
  overflow: hidden;
  .quiz-header {
    padding: 3rem;
    h2 {
      text-align: center;
      margin: 0;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        margin: 1rem 0;
        font-size: 1rem;
        input {
          cursor: pointer;
        }
        label {
          cursor: pointer;
        }
      }
    }
  }
  button {
    background-color: #8e44ad;
    border: none;
    color: white;
    display: block;
    width: 100%;
    font-size: 1.2rem;
    font-family: inherit;
    padding: 10px 0;
  }
  button:hover {
    background-color: #682c81;
    cursor: pointer;
  }
}

h2 {
  text-align: center;
}
